{% extends 'partials/variables.html.twig' %}

{% set module = page.header.contents %}
{% set list_items = page.header.about_sections %}


{% block render_block %}

	<div class="about-conpany-section about-listing-animation {{ module.parent_classes }}" >
		<div class="container">

			<div class="wrapper">

				<div class="header-content">
					<h3>{{ module.title.translatable|striptags('<span>')|raw }}</h3>

					<div class="actions">

						<p>{{ module.description.translatable|striptags('<span>')|raw }}</p>
						<a href="{{ grav.language.active }}/contact" class="companion-btn">{{ module.btn_text.translatable }}</a>
					</div>					
				</div>

				<div class="contents-wrapper">					

					<div class="swiper swiper-about-company">
						<div class="swiper-wrapper">
							{% for section in page.header.about_sections %}
								<div class="swiper-slide">
									<div class="head-content">
										<span>
											<img src="{{ page.media[section.icon].url }}" alt="Icon" />
										</span>
										<h5>{{ section.title.translatable }}</h5>
									</div>									
									<p>{{ section.description.translatable }}</p>	
								</div>
							{% endfor %}
						</div>
			
						<div class="navigations-custom-company">						
							<div class="swiper-button-next">
								<img src="{{ url('theme://images/arrow-right.png') }}" />
							</div>
							<div class="swiper-button-prev">
								<img src="{{ url('theme://images/arrow-left.svg') }}" />
							</div>						
						</div>
					</div>


				</div>			
			</div>

			
		</div>
	</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper-about-company', {
    slidesPerView: 1,
    spaceBetween: 40,
    loop: true,
    autoplay: false,
    centeredSlides: true,
    rtl: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      320: { slidesPerView: 1 },
      768: { slidesPerView: 1 },
      992: { slidesPerView: 1 },
    },
  });
</script>


{% endblock %}
