{% extends 'partials/variables.html.twig' %}

{% set contents = page.header.contents %}

{% block render_block %}


<div class="swiper-suffle-section">
	<div class="container">

		<div class="swiper-suffle-wrapper">

			<div class="offer-content"> 
				<h1 class="section-title">
					{{ contents.title.translatable|striptags('<span>')|raw }}
				</h1>
				<p class="brief">{{ contents.brief.translatable }}</p>

				<a class="button" href="{{ grav.language.active }}/about">
				{{ contents.btn_text.translatable }}
				</a>

			</div>

			<div class="offer-image owl-carousel" >

				{% for item in contents.images %}
					<div class="swiper-slide">
						<img class="slider-img" width="100%" src="{{ page.media[item.img].url }}" alt="Swiper Image"/>

						<div class="swiper-overlay">
							<h4 class="title">{{ item.title.translatable }}</h4>
							
							<a class="button" href="{{ grav.language.active }}/about">
								{{ item.btn.translatable }}
							</a>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>

<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop:true,
			nav:true,
            margin: 10,
            autoplay: true,
			center: false,
			items: 1,   
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                    
                },
                1000:{
                    items:1
                }
            }
        })
    });
</script>
{% endblock %}
