
<div class="header-buttons {{ login_order }}">

	{% if grav.user.authenticated %}
		<a class="btn {{navbar_button_style}}" href="{{ url('/task:login.logout') }}">{{ "METRICALO.LOGOUT"|t }}</a>
	{% else %}
		<a class="btn active-btn {{navbar_button_style}}" href="{{ url('/login') }}">{{ "METRICALO.LOGIN"|t }}</a>

		<a class="{{navbar_button_style}} btn signup" href="{{ home_url|e }}{{ webdata('signup_url') }}">
			<span>{{ "METRICALO.SIGNUP"|t }}</span>
		</a>
		
	{% endif %}

	{% if grav.language.enabled and grav.language.languages|count > 1 %}
		<span class="language-switcher" data-current-lang="{{ grav.language.active }}" id="open-modal">
		
		<img class="frame-29 lang-flag" src="{{ url('theme://images/lang/'~grav.language.active~'.svg') }}">
			{# {{ grav.language.active|capitalize }} #}
			<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
				<path d="M7.46583 3.4082H2.5325C2.1325 3.4082 1.9325 3.89154 2.21583 4.17487L4.37416 6.3332C4.72 6.67904 5.2825 6.67904 5.62833 6.3332L6.44916 5.51237L7.78666 4.17487C8.06583 3.89154 7.86583 3.4082 7.46583 3.4082Z" fill="black"/>
			</svg>
		</span>
	{% endif %}
	
	<div id="mobile-menu-icon"></div>
	<div class="cheeseburger-menu__close" id="cheeseburger-menu-close">
		<span></span>
	</div>
</div>
